<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409120994021-re50ugfvjqvrgnehkpq6pbbnamfglr2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409120994021-re50ugfvjqvrgnehkpq6pbbnamfglr2r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409120994021-fg81jk7ln7llfo2kiga8agdreu25j4r0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_nTYOPEdm22L-LgZsm1Dtir-tDHlfYwk</string>
	<key>GCM_SENDER_ID</key>
	<string>409120994021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redflags.app</string>
	<key>PROJECT_ID</key>
	<string>rfd-app-prod-1fdad</string>
	<key>STORAGE_BUCKET</key>
	<string>rfd-app-prod-1fdad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409120994021:ios:e377d0c5298f975db25a0c</string>
</dict>
</plist>